#character-figure {
  height: 80px;
  width: 80px;
}

#character-image {
  border-radius: 50%;
  object-fit: cover;
  object-position: -20% 0;
}

#space-div {
  height: 150px;
  width: 100%;
}

#vl {
  height: 40px;
  width: 100%;
  border-right: 2px solid white;
  // Position relative para poder ajustar la flecha
  position: relative;
}

#cont-1 {
  padding-bottom: 80px;
  border-right: 2px solid white;
  border-top: 2px solid white;
  padding-right: 60px;
}

#cont-2 {
  padding-bottom: 80px;
  border-top: 2px solid white;
  padding-left: 34px;
}

#button-container {
  height: 50px;
}

#button-age {
  background-color: transparent;
  border: 2px solid white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: white;
  outline: none;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  position: absolute;
  right: -6px;
  top: calc(50% - 3px);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
