.homepage {
  // position: absolute;
  top: 50px;
  bottom: 150px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //   overflow: auto;

  background-image: url("../../shared/assets/images/throne.jpg");
  background-size: cover;
  background-repeat: none;
}
